.friend-display-link {
  margin-top: -20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.4);
  padding: 15px 0px;
  margin-bottom: 10px;
}

.friend-display-link .fa-info {
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(160, 162, 163);
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.friend-display-link .fa-angle-right {
  margin-left: 7px;
}

.friend-screen {
  padding-left: 25px;
  padding-right: 25px;
}
.user-component {
  display: flex;
  align-items: center;
}
.user-component__column {
  display: flex;
  align-items: center;
}
.user-component__name {
  font-size: 20px;
  font-weight: 600;
}
.user-component-photo {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-right: 20px;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component-photo--xl {
  width: 90px;
  height: 90px;
  border-radius: 30px;
  margin-right: 20px;
}
.user-component-photo--sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 20px;
}

.friend-screen__channel {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  margin-top: 10px;
}

.friend-screen__channel-header {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.user-component {
  display: flex;
  justify-content: space-between;
}
.user-component__text--not-bold {
  font-weight: 300;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}
.user-component__column:last-child span {
  margin-right: 4px;
}
@keyframes splashani {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash {
  z-index: 100;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 234, 0);
  animation: splashani 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
/* splash가 먼저 생성되면서 레이아웃이 바탕에 깔림 -> z-index로 레이아웃 가장 위에 있게하기 */
