.suggestions-title {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1.5px solid rgba(0, 0, 0, 0.3);
}
.suggestions-icon {
  display: flex;
  margin-top: 20px;
}
.suggestions-icon div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}
.suggestions-icon div > img {
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.suggestions-icon div > span {
  opacity: 0.5;
  font-size: 15px;
}
.user-component__subtitle {
  display: flex;
  align-items: center;
}
.user-component__subtitle div {
  color: rgb(255, 77, 0);
  border: 2px solid rgb(255, 77, 0);
  padding: 1px 4px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
}
.user-component__column:nth-child(1) img {
  border-radius: 40%;
}
.more .user-component__column:nth-child(2) i {
  color: black;
}
.more {
  margin-bottom: 20px;
}
