.screen-header {
  position: sticky;
  top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0px var(--horizontal-space);
  width: 100vw;
  box-sizing: border-box;
  font-weight: 900;
}
.screen-header .screen-header-title {
  font-size: 30px;
}
.screen-header .screen-header-icon {
  display: flex;
  align-items: center;
}

.screen-header .screen-header-icon i {
  margin-right: 15px;
}
.screen-header-icon i:hover {
  animation: binggul 1s linear infinite;
}
@keyframes binggul {
  0% {
    transform: none;
  }
  100% {
    transform: rotateZ(360deg);
  }
}
