.user-component {
  display: flex;
  justify-content: space-between;
}

.user-component-col:first-child,
.user-component-col:last-child {
  display: flex;
  align-items: center;
}
.user-component-col:last-child {
  color: rgba(128, 128, 128, 0.977);
}
.user-component-col:last-child div:first-child {
  margin-right: 5px;
}
.user-component__img {
  width: 70px;
  height: 70px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component__text__name {
  font-size: 20px;
  font-weight: 600;
}
.user-component__text__subtitle {
  font-size: 15px;
  margin-top: 8px;
  color: grey;
}
/* size change */
.user-component__img--la {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component__img--sm {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component__text__name--not-bold {
  font-weight: 500;
  font-size: 17px;
}
