.friends-notification {
  position: sticky;
  width: 100%;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  background-color: rgba(239, 239, 239, 0.664);
  color: rgb(65, 65, 65);
}
.friends-notification div:nth-child(1) {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgb(169, 169, 169);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.friends-notification div:nth-child(3) {
  color: gray;
  padding-top: 3px;
  margin-left: 15px;
}

.friends-screen {
  position: fixed;
  top: 150px;
  width: 100%;
  height: 68%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0px var(--horizontal-space);
}
@media (min-height:711px) {
  .friends-screen{
    height: 73%;
  }
}
@media (min-height:830px) {
  .friends-screen{
    height: 74%;
  }
  
}
.friends-screen .user-component:first-child {
  margin-top: 10px;
}

.friends-screen__channel-header {
  padding: 20px 0px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(128, 128, 128, 0.537);
  color: rgba(128, 128, 128, 0.977);
}

.friends-screen__channel-header ~ .user-component {
  margin-bottom: 25px;
}

#splash {
  z-index: 100;
  position: absolute;
  background-color: var(--yellow);
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  animation: removediv 1s forwards;
  animation-delay: 1s;
}
@keyframes removediv {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
