.screen-header {
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
@keyframes iconAnimation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icon span {
  margin-left: 25px;
}
.screen-header__icon i:hover {
  animation: iconAnimation 2s linear infinite;
}
