@import "/css/reset.css";
/* status-bar */
.status-bar {
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 5px;
}
.status-bar-column {
  width: 33%;
}
/* 첫번째 status-bar-column */
.status-bar-column:first-child span {
  margin-right: 5px;
  margin-left: 5px;
}
/* 33%안에서 내용이 가운데로 오도록함 */
.status-bar-column:nth-child(2) {
  display: flex;
  justify-content: center;
}
/* 33%안에서 내용이 flex끝으로 오도록함 */
.status-bar-column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar-column:nth-child(3) span,
.status-bar-column:nth-child(3) i {
  margin-right: 5px;
}
.setting-link i {
  color: black;
}
