.user-component {
  display: flex;
  justify-content: space-between;
}

.user-component-col:first-child,
.user-component-col:last-child {
  display: flex;
  align-items: center;
}
.user-component__icon,
.user-component__number {
  color: rgba(128, 128, 128, 0.977);
}
.user-component__number {
  padding-right: 3px;
}
.user-component__img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component__text__name {
  font-size: 18px;
  font-weight: 600;
}
.user-component__text__subtitle {
  font-size: 13px;
  margin-top: 8px;
  color: rgba(128, 128, 128, 0.699);
}
.user-component__music,
.user-component__statue {
  margin-right: 5px;
}
.user-component__music {
  display: flex;
  justify-content: center;
}

.user-component__music-icon {
  margin-left: 5px;
}
/* size change */
.user-component__img--la {
  width: 65px;
  height: 65px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component__img--sm {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component__text__name--not-bold,
.user-component__music-name {
  font-weight: 500;
  font-size: 16px;
}
